<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL7VYm1gVBAA2zye1tx6d6SIDH4NSpU-c</string>
	<key>GCM_SENDER_ID</key>
	<string>34251951178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wip.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>basedados-wip</string>
	<key>STORAGE_BUCKET</key>
	<string>basedados-wip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34251951178:ios:65be7ee3150c5c6f08aab3</string>
</dict>
</plist>